html, body {
  position: relative;
  width: 100%;
  min-width: 100%;
  background-color: #4b86b4;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

h1 {
  font-family: "Fjalla One", sans-serif; }

a, p {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em; }

.header {
  padding-top: 1em;
  margin: 0 0 1em 0;
  text-align: center;
  background-color: #adcbe3; }
  .header #page-title {
    font-size: 5em;
    color: #F5F5F5;
    font-family: "Schoolbell", cursive;
    background-color: #adcbe3; }
    @media only screen and (max-width: 725px) {
      .header #page-title {
        font-size: 2.75em; } }
  .header .nav-bar {
    border-bottom: 3px solid #4b86b4;
    border-top: 3px solid #4b86b4;
    background-color: #63ace5; }
    .header .nav-bar .nav-bar-item {
      display: inline-block;
      margin: .5em 0 .5em 0;
      padding: .5em 0 .5em 0;
      width: 10em;
      background-color: #2a4d69;
      -webkit-transition: background-color .5s ease-out;
      -moz-transition: background-color .5s ease-out;
      -o-transition: background-color .5s ease-out;
      transition: background-color .5s ease-out; }
      @media only screen and (max-width: 725px) {
        .header .nav-bar .nav-bar-item {
          display: block;
          width: 100%;
          margin: 1px 0; } }
      .header .nav-bar .nav-bar-item:hover {
        background-color: #e7eff6; }
        .header .nav-bar .nav-bar-item:hover a {
          color: black; }
      .header .nav-bar .nav-bar-item a {
        text-decoration: none;
        color: #F5F5F5; }

.content {
  margin: 0 10% 0 10%;
  padding-bottom: 50px; }
  .content .content-text {
    font-family: "Raleway", sans-serif;
    color: black; }
    .content .content-text p {
      margin: 0px;
      font-size: 1em; }
      @media only screen and (max-width: 725px) {
        .content .content-text p {
          font-size: .75em; } }
  .content .content-header {
    font-family: "Fjalla One", sans-serif;
    color: black;
    margin: 0 0 .5em 0;
    font-size: 2em; }
    @media only screen and (max-width: 725px) {
      .content .content-header {
        text-align: center;
        font-size: 1.5em; } }
  .content .content-row {
    width: 100%;
    background-color: #adcbe3;
    height: auto;
    padding: 1em;
    margin: 1em 0 1em 0;
    display: inline-block; }
    .content .content-row .content-text-split {
      width: 50%;
      float: left; }
      @media only screen and (max-width: 725px) {
        .content .content-row .content-text-split {
          width: 100%;
          float: none; } }
      .content .content-row .content-text-split p {
        margin: 0px;
        font-size: 1em; }
        @media only screen and (max-width: 725px) {
          .content .content-row .content-text-split p {
            font-size: .75em; } }
    .content .content-row .content-img-split {
      width: 50%;
      float: right; }
      @media only screen and (max-width: 725px) {
        .content .content-row .content-img-split {
          width: 100%;
          float: none; } }

.footer {
  padding: 1em;
  background-color: #63ace5;
  width: 97.7%;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em; }
  .footer .footer-left {
    width: 70%;
    display: inline-block; }
    .footer .footer-left .footer-text {
      padding: 0px;
      margin: 0px;
      font-size: .75em;
      color: black; }
  .footer .footer-right {
    float: right;
    width: 20%;
    text-align: right;
    display: inline-block; }
    .footer .footer-right .footer-text {
      color: black;
      font-size: 25px; }
      .footer .footer-right .footer-text a:visited {
        color: black; }

#git-link {
  width: 25px; }

.content-row-info {
  width: 100%;
  background-color: #adcbe3;
  height: auto;
  margin: 1em 0 1em 0;
  display: inline-block; }

.info-wrapper {
  padding: 1em; }
  .info-wrapper .info-form {
    text-align: center;
    width: 100%; }
    .info-wrapper .info-form .form-row {
      width: 100%; }
      .info-wrapper .info-form .form-row input {
        font-family: "Raleway", sans-serif;
        border: 1px solid #2a4d69;
        padding: 5px; }
      .info-wrapper .info-form .form-row .input-row {
        width: 490px;
        height: 25px;
        margin: .5em 0; }
        @media only screen and (max-width: 725px) {
          .info-wrapper .info-form .form-row .input-row {
            width: 75%;
            height: 25px;
            margin: .5em 0; } }
      .info-wrapper .info-form .form-row #info-area {
        height: 250px;
        font-family: "Raleway", sans-serif;
        border: 1px solid #2a4d69;
        resize: vertical;
        padding: 5px; }
      .info-wrapper .info-form .form-row .form-submit {
        display: inline-block;
        margin: .5em 0 .5em 0;
        padding: .5em 0 .5em 0;
        width: 500px;
        color: #F5F5F5;
        font-size: 1em;
        border: 1px solid #2a4d69;
        background-color: #2a4d69;
        cursor: pointer;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out; }
        @media only screen and (max-width: 725px) {
          .info-wrapper .info-form .form-row .form-submit {
            width: 75%;
            margin: .5em 0 .5em 0; } }
        .info-wrapper .info-form .form-row .form-submit:hover {
          background-color: #adcbe3; }
          .info-wrapper .info-form .form-row .form-submit:hover a {
            color: black; }
        .info-wrapper .info-form .form-row .form-submit a {
          text-decoration: none;
          color: #F5F5F5; }

/*# sourceMappingURL=styles.css.map */
