*{
    margin: 0;
    background-color: cornflowerblue;
}

h1{
    font-family:AIGDT;
}

.header{
    padding: 1em;

    .top-header{
        background-color:aliceblue;
    }
    .header-text{
        font-family:'Arial Rounded MT';
    }
    .nav-bar{
        border-bottom:1px solid black;
        border-top: 1px solid black;
        background-color:lightslategrey;

        .nav-bar-item{

            h3{
                font-size: 24px;
            }
        }
            
    }
}