@import "styles.scss";

.rtext{
  color:$offWhite;
  font-family: $paragraphFont;
}
.rp3{
  font-size: 10px;
}
.rp2
{
  font-size: 11px;
}
.rp1
{
  font-size: 12px;
}

#Page{
  padding: 5%;
  background-color: $darkestBlue;
  width:90%;
  display:inline-block;

  hr{
    border-color: black;
    height: 2px;
    background-color: black;
  }

  .header2{
    font-size: 1.5em;
    color:$lightBlue;
  }

  .header3{
    font-size: 1em;
    color:$offWhite;
  }

  #Title{
    position: relative;
    text-align: center;
    .header1{
      color:$lightBlue;
      font-size: 3em;
      margin-bottom: 10px;
    }
    .rp1{
      color: $offWhite;
      margin:0;
    }
  }

  #ReportInfo{
    position: relative;
    color: $offWhite;
  }

  #ApplicantInfo{
    position:relative;
  }
}
