
$darkestBlue: #2a4d69;
$darkBlue:    #4b86b4;
$blue:        #63ace5;
$lightBlue:   #adcbe3;
$lightestBlue:#e7eff6;
$offWhite:    #F5F5F5;

$headingFont: 'Fjalla One', sans-serif;
$titleFont:   'Schoolbell', cursive;
$paragraphFont:'Raleway', sans-serif;

$HeadingColor: black;
$paragraphColor: black;

html,body{
  position: relative;
  width: 100%;
  min-width: 100%;
  background-color: $darkBlue;
  margin:0;
  padding:0;
  height:100%;
  min-height: 100%;
}

h1{
  font-family:$headingFont;
}

a, p{
  font-family: $paragraphFont;
  font-size: 1.25em;
}

.header{
  padding-top: 1em;
  margin: 0 0 1em 0;
  text-align: center;
  background-color:$lightBlue;

    #page-title{
      font-size: 5em;
      color: $offWhite;
      font-family:$titleFont;
      background-color:$lightBlue;
    }
    .nav-bar{
      border-bottom:3px solid $darkBlue;
      border-top: 3px solid $darkBlue;
      background-color:$blue;

      .nav-bar-item {
        display: inline-block;
        margin: .5em 0 .5em 0;
        padding: .5em 0 .5em 0;
        width: 10em;
        background-color: $darkestBlue;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out;

      &:hover{
        background-color: $lightestBlue;


        a{
          color:black;
        }
      }

      a{
        text-decoration: none;
        color: $offWhite
      }
    }
  }
}

.content{
  margin: 0 10% 0 10%;
  padding-bottom: 50px;

  .content-text{
    font-family: $paragraphFont;
    color: $paragraphColor;
    p{
      margin: 0px;
      font-size: 1em;
    }
  }
  .content-header{
    font-family: $headingFont;
    color: $HeadingColor;
    margin: 0 0 .5em 0;
    font-size: 2em;
  }

  .content-row{
    background-color: $lightBlue;
    height: auto;
    padding: 1em;
    margin: 1em 0 1em 0;
    display: inline-block;

    .content-text-split{
      width:50%;
      float:left;

      p{
        margin: 0px;
        font-size: 1em;
      }
    }

    .content-img-split{
      width:50%;
      float: right;
    }
  }

}

.footer{
  padding: 1em;
  background-color: $blue;
  width: 97.7%;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;

  .footer-left{
    width:70%;
    display: inline-block;

    .footer-text{
      padding: 0px;
      margin:0px;
      font-size: .75em;
      color: black;
    }
  }
  .footer-right{
    float:  right;
    width: 20%;
    text-align: right;
    display: inline-block;

    .footer-text{
      color: black;
      font-size: 25px;
      a:visited {
        color: black;
      }
    }
  }
}

#git-link{
  width: 25px;
}
