<!DOCTYPE html>

<html>
    <head>
        <title> <%= siteTitle %>--<%= pageTitle %></title>

    </head>
    <body id="<%= pageID %>">
        <h1>Mason's stuff here</h1>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/reload/reload.js/"></script>
    </body>

</html>
