<!DOCTYPE html>

<html>
    <head>
        <title> <%= siteTitle %>--<%= pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body id="<%= pageID %>">

      <!--  Start of header section  -->
      <div class='header'>
        <div class="top-header">
          <h1 id="page-title">GoodBoysInc.</h1>
        </div>
        <div class="nav-bar">
          <div class=nav-bar-item>
            <a href="">Home</a>
          </div>
          <div class=nav-bar-item>
            <a href="">Dog for you</a>
          </div>
          <div class=nav-bar-item>
            <a href="">Dog Types</a>
          </div>
          <div class=nav-bar-item>
            <a href="">About Us</a>
          </div>
        </div>
      </div>
      <!-- End of header section  -->

      <!-- Start of content section  -->
      <div class="content">
        <div class="content-row">
          <h2 class="content-header">Something Will go here</h2>
          <div class="content-text">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
          </div>
        </div>

        <div class="content-row">
          <h2 class="content-header">Something Will go here</h2>
          <div class="content-text-split">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
          </div>
          <img class='content-img-split' src="http://www.aaha.org/blog/graphics/resized/petsmatter/happy_dog_and_human_xw600_xh399.jpg" alt="doogo.jpg">
        </div>
      </div>
      <!--  End of content section  -->

      <!-- Start of footer section -->
      <div class="footer">
        <div class="footer-left">
          <p id='ftr-1' class="footer-text">GoodBoysInc</p>
          <p id='ftr-2' class="footer-text">CMPSC 421</p>
          <p id='ftr-2' class="footer-text">Soaring Eagles</p>
        </div>
        <div class="footer-right">
          <a  target="_blank" href="https://github.com/MaSUB/GoodBoysInc">
            <img id='git-link' src="http://icon-icons.com/icons2/790/PNG/512/github_icon-icons.com_65450.png" alt="github">
          </a>
        </div>
      </div>
      <!-- End of footer section -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/reload/reload.js/"></script>
    </body>
</html>
