<!DOCTYPE html>

<html>
  <head>
      <title> <%= siteTitle %>--<%= pageTitle %></title>
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
      <link rel="stylesheet" type="text/css" href="/css/report.css">
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
    <body id="<%= pageID %>">
	<div id="Page" style="position: absolute; width: 555px; height: 802px; border: 1px solid black; padding: 20px;">
		<div id="Title" style="position: relative;">
			<h1 class=""header1>Good Boys Inc.</h1>
			<p class="rp1"><b>Background Screening Report</b></p>
		</div>

		<div id="ReportInfo" style="position: relative;">
			<p class="rp1" id="ReportNum">Report Number: </p>
			<p class="rp1" id="ReportFor">Report for: </p>
		</div>

		<hr>

		<div id="ApplicantInfo" style="position: relative;">
			<h2 class="header2" style="text-align:center;">Applicant Information</h2>

			<hr>

			<div class="halfCol" style="position: relative;">
				<p class="rtext  rp2" id="Applicant">Applicant:</p>
				<p class="rtext  rp2" id="Facebook">Facebook:</p>
				<p class="rtext  rp2" id="Twitter">Twitter:</p>

				<p class="rtext  rp2"><br></p>

				<p class="rtext  rp2" id="Email">Email:</p>
				<p class="rtext  rp2" id="AddressL1">Address:</p>
			</div>

			<div class="halfCol" style="position: relative;">
				<p class="rtext  rp2" id="Phone">Phone Number:</p>
				<p class="rtext  rp2"><br></p>
				<p class="rtext  rp2"><br></p>
				<p class="rtext  rp2"><br></p>
				<p class="rtext  rp2"><br></p>
				<p class="rtext  rp2" id="AddressL2">City/State/Zip:</p>
			</div>
		</div>

		<hr>

		<div id="ReportSummary" style="position: relative;">
			<h2 style="text-align:center;">Report Summarization</h2>

			<hr>

			<p class="rtext  rp3" style="text-align:center;"><b>Decision Report</b></p>

			<hr>

			<div class="quarterCol" style="position: relative;">
				<p class="rtext  rp3" id="Decision1"><b>Decision:</b></p>
				<p class="rtext  rp3"><b>Category</b></p>
				<p class="rtext  rp3">Agreeableness:</p>
				<p class="rtext  rp3">Conscientiousness:</p>
				<p class="rtext  rp3">Extraversion:</p>
				<p class="rtext  rp3">Neuroticism:</p>
				<p class="rtext  rp3">Openness:</p>

			</div>

			<div class="quarterCol" style="position: relative;">
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><b>Results:</b></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>

			</div>

			<div class="quarterCol" style="position: relative;">
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><b>Twitter</b></p>
				<p class="rtext  rp3" id="AgreeableT"><br></p>
				<p class="rtext  rp3" id="ConscientiousnessT"><br></p>
				<p class="rtext  rp3" id="ExtraversionT"><br></p>
				<p class="rtext  rp3" id="NeuroticismT"><br></p>
				<p class="rtext  rp3" id="OpennessT"><br></p>

			</div>

			<div class="quarterCol" style="position: relative;">
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><b>Facebook</b></p>
				<p class="rtext  rp3" id="AgreeableF"><br></p>
				<p class="rtext  rp3" id="ConscientiousnessF"><br></p>
				<p class="rtext  rp3" id="ExtraversionF"><br></p>
				<p class="rtext  rp3" id="NeuroticismF"><br></p>
				<p class="rtext  rp3" id="OpennessF"><br></p>

			</div>

			<hr>

			<p class="rtext  rp3" style="text-align:center;"><b>"About Me" Insights</b></p>

			<div class="thirdCol" style="position: relative;">
				<p class="rtext  rp3" id="Decision2"><b>Decision:</b></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3" id="AgreeablenessMe">Agreeableness:</p>
				<p class="rtext  rp3" id="ConscientiousnessMe">Conscientiousness:</p>
				<p class="rtext  rp3" id="ExtraversionMe">Extraversion:</p>
				<p class="rtext  rp3" id="NeuroticismMe">Neuroticism:</p>
				<p class="rtext  rp3" id="OpennessMe">Openness:</p>
				<p class="rtext  rp3" id="NeedClosenessMe">Need Closeness:</p>
				<p class="rtext  rp3" id="OpennessToChangeMe">Openness to Change:</p>
			</div>

			<div class="thirdCol" style="position: relative;">
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3" id="VolunteerMe">Volunteer:</p>
				<p class="rtext  rp3"><u>Emotion Analysis</u></p>
				<p class="rtext  rp3" id="AngerMe">Anger: </p>
				<p class="rtext  rp3" id="DisgustMe">Disgust: </p>
				<p class="rtext  rp3" id="FearMe">Fear: </p>
				<p class="rtext  rp3" id="JoyMe">Joy: </p>
				<p class="rtext  rp3" id="SadnessMe">Sadness: </p>
			</div>

			<div class="thirdCol" style="position: relative;">
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3"><u>Sentiment Analysis</u></p>
				<p class="rtext  rp3"  id="MixedMe">Mixed</p>
				<p class="rtext  rp3" id="ScoreMe">Score</p>
				<p class="rtext  rp3" id="TypeMe">Type</p>
				<p class="rtext  rp3"><br></p>
				<p class="rtext  rp3" id="Result"><b>Algorithm Result: </b></p>
				<p class="rtext  rp3" id="Suitable"><b>Suitable Owner: </b></p>
			</div>
		</div>
	</div>

	<style>
		.halfCol
		{
			float: left;
			width: 50%;
		}
		.thirdCol
		{
			float: left;
			width: 33%;
		}
		.quarterCol
		{
			float: left;
			width: 25%;
		}
		.header1
		{
			font-size: 24px;
			font-family: "Arial";
		}
		.header2
		{
			font-size: 12px;
			font-family: "Arial";
		}
	</style>

	<script>
		$("h1").addClass("header1");
		$("h2").addClass("header2");
	</script>

	</body>
</html>
